---
interface Props {
    name: string;
    isPackage: boolean;
    isSchool: boolean;
    isPoc: boolean;
    isBookmark: boolean;
    homepageUrl?: string;
}

const { name, isPackage, isSchool, isPoc, isBookmark, homepageUrl = null } = Astro.props;
const colorIco = "#586069";
---

<g data-testid="card-title" transform="translate(25, 35)">
    <g>
        <svg fill={colorIco} x="0" y="-13" viewBox="0 0 16 16" version="1.1" width="16" height="16">
            <path
                fill-rule="evenodd"
                d="M2 2.5A2.5 2.5 0 014.5 0h8.75a.75.75 0 01.75.75v12.5a.75.75 0 01-.75.75h-2.5a.75.75 0 110-1.5h1.75v-2h-8a1 1 0 00-.714 1.7.75.75 0 01-1.072 1.05A2.495 2.495 0 012 11.5v-9zm10.5-1V9h-8c-.356 0-.694.074-1 .208V2.5a1 1 0 011-1h8zM5 12.25v3.25a.25.25 0 00.4.2l1.45-1.087a.25.25 0 01.3 0L8.6 15.7a.25.25 0 00.4-.2v-3.25a.25.25 0 00-.25-.25h-3.5a.25.25 0 00-.25.25z"
            ></path>
        </svg>
    </g>
    <g transform="translate(25, 0)">
        <text x="0" y="0" class="header" data-testid="header">
            {name}
        </text>
    </g>
</g>
<g style={`--colorIco: ${colorIco}`}>
    {
        isPackage && (
            <g class="hovered" transform="translate(350, 20)">
                <g stroke={colorIco} stroke-width="1.5" stroke-linecap="round">
                    <path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z" />
                    <polyline points="3.27 6.96 12 12.01 20.73 6.96" />
                    <line x1="12" y1="22.08" x2="12" y2="12" />
                    <line x1="16.5" y1="9.4" x2="7.5" y2="4.21" />
                </g>
            </g>
        )
    }
    {
        isSchool && (
            <g class="hovered" transform="translate(350, 20)">
                <g transform="scale(0.5)" stroke={colorIco} stroke-width="2.9">
                    <path d="M50.5837 18.0418 27.9265 7.6124c-.7349-.3385-1.5177-.5093-2.3265-.5093-.8088 0-1.5914.1708-2.3265.5093L.6163 18.0418C.2418 18.2149 0 18.5922 0 19.0045s.2418.7896.6163.9627l22.6572 10.4294c.7349.3385 1.5177.5101 2.3265.5101.8088 0 1.5916-.1716 2.3267-.5101l17.8812-8.2306v8.2881c-.7096.08-1.263.684-1.263 1.4138 0 .6359.4208 1.1864 1.0206 1.3618l-1.2092 7.9791h5.5676l-1.209-7.9791c.5996-.1754 1.0204-.7259 1.0204-1.3618 0-.7298-.5534-1.3338-1.263-1.4138v-9.5148l2.1116-.9721c.3744-.1731.6163-.5504.6163-.9627S50.9582 18.2149 50.5837 18.0418z" />
                    <path d="M25.6 34.6831c-1.1246 0-2.2143-.2391-3.2386-.7104L11.2793 28.871v10.1638c0 2.2314 6.7426 5.0621 14.3207 5.0621 7.5782 0 14.3209-2.8308 14.3209-5.0621V28.871l-11.0827 5.1017C27.8145 34.444 26.725 34.6831 25.6 34.6831z" />
                </g>
            </g>
        )
    }
    {
        isPoc && (
            <g class="hovered" transform="translate(350, 20)" stroke={colorIco} stroke-width="1.5">
                <polygon xmlns="http://www.w3.org/2000/svg" points="13 2 3 14 12 14 11 22 21 10 12 10 13 2" />
            </g>
        )
    }
    {
        isBookmark && (
            <g class="hovered" transform="translate(350, 20)" stroke={colorIco} stroke-width="1.5">
                <path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z" />
            </g>
        )
    }
    {
        homepageUrl && (
            <a href={homepageUrl} target="_blank" class="cursorPointer fill">
                <g class="hovered" transform="translate(353, 80)">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke={colorIco}
                        class="feather feather-external-link"
                    >
                        <path class="hovered" d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6" />
                        <polyline class="hovered" points="15 3 21 3 21 9" />
                        <line class="hovered" x1="10" y1="14" x2="21" y2="3" />
                    </svg>
                </g>
            </a>
        )
    }
</g>

<style>
    :global(.svgRepo:hover) .hovered {
        fill: var(--colorIco);
    }
    :global(.svgRepo:hover) .package-line {
        fill: var(--globalColor);
    }
    .header {
        font:
            600 18px "Segoe UI",
            Ubuntu,
            Sans-Serif;
        fill: #2f80ed;
    }
    @supports (-moz-appearance: auto) {
        /* Selector detects Firefox */
        .header {
            font-size: 15.5px;
        }
    }
</style>
