---
import type { SingleProject } from "../types";
import { splitStringByLength } from "../utils";
import BadgeLanguage from "./BadgeLanguage.astro";
import BadgeLinks from "./BadgeLinks.astro";
import SvgBadgeGistHeader from "./GistHeader.astro";
import RepoDescription from "./RepoDescription.astro";
import SvgBadgeRepoHeader from "./RepoHeader.astro";
import Stargazers from "./Stargazers.astro";

interface Props {
    svgData: SingleProject;
    isPackage: boolean;
    isHovered?: boolean;
}

const { svgData, isPackage, isHovered = false } = Astro.props;
const isRepo = svgData.url.startsWith("https://github.com");
const maxLen = isRepo ? 56 : 34;
const { name, stargazerCount, url, homepageUrl, primaryLanguage } = svgData;
svgData.description = svgData.description || "";
svgData.description = svgData.description.slice(0, 115);
const chunks = splitStringByLength(svgData.description, maxLen);
---

<div
    class:list={[
        "svg-github",
        {
            "svg-github-hovered": isHovered,
        },
    ]}
>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 120" fill="none">
        <rect x="0.5" y="0.5" rx="4.5" height="99%" stroke="#e4e2e2" width="399" fill="#fffefe" stroke-opacity="1"
        ></rect>
        {
            isRepo ? (
                <>
                    <SvgBadgeRepoHeader name={name} isPackage={isPackage} />
                    {isHovered ? (
                        <>
                            <BadgeLinks isRepo={isRepo} url={url} homepageUrl={homepageUrl} />
                        </>
                    ) : (
                        <>
                            <RepoDescription chunks={chunks} />
                            <BadgeLanguage primaryLanguage={primaryLanguage} />
                            {stargazerCount && <Stargazers stargazerCount={stargazerCount} />}
                        </>
                    )}
                </>
            ) : (
                <SvgBadgeGistHeader chunks={chunks} />
            )
        }
    </svg>
</div>

<style>
    svg {
        display: block;
    }
    .svg-github-hovered rect {
        fill: var(--globalColor);
    }

    .svg-github {
        width: 400px;
        height: 120px;
    }
    @media only screen and (max-width: 600px) {
        .svg-github {
            width: 100%;
            height: 100%;
        }
    }
</style>
