---
import type { SingleProject } from "../types";
import { splitStringByLength } from "../utils";
import BadgeLanguage from "./BadgeLanguage.astro";
import BadgeLinks from "./BadgeLinks.astro";
import SvgBadgeGistHeader from "./GistHeader.astro";
import RepoDescription from "./RepoDescription.astro";
import SvgBadgeRepoHeader from "./RepoHeader.astro";
import Stargazers from "./Stargazers.astro";

interface Props {
    svgData: SingleProject;
    isPackage: boolean;
    isRepo: boolean;
    isSchool: boolean;
    isPoc: boolean;
    isBookmark: boolean;
}

const { svgData, isPackage, isPoc, isRepo, isSchool, isBookmark } = Astro.props;
const { name, stargazerCount, url, homepageUrl, primaryLanguage, description } = svgData;
const desc = description ?? "";
const maxLen = isRepo ? 56 : 34;
const chunks = splitStringByLength(desc.slice(0, 115), maxLen);
---

<div class:list={["svg-github"]}>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 120" fill="none">
        <rect
            class="hovered-rect"
            x="0.5"
            y="0.5"
            rx="4.5"
            height="99%"
            stroke="#e4e2e2"
            width="399"
            fill="#fffefe"
            stroke-opacity="1"></rect>
        {
            isRepo ? (
                <>
                    <SvgBadgeRepoHeader
                        name={name}
                        isPackage={isPackage}
                        isSchool={isSchool}
                        isPoc={isPoc}
                        isBookmark={isBookmark}
                    />
                    <g class="hovered">
                        <BadgeLinks isRepo={isRepo} url={url} homepageUrl={homepageUrl} />
                    </g>
                    <g class="not-hovered">
                        <RepoDescription chunks={chunks} />
                        <BadgeLanguage primaryLanguage={primaryLanguage} />
                        {stargazerCount && <Stargazers stargazerCount={stargazerCount} />}
                    </g>
                </>
            ) : (
                <>
                    <SvgBadgeGistHeader chunks={chunks} />
                    <g class="hovered">
                        <BadgeLinks isRepo={isRepo} url={url} homepageUrl={homepageUrl} />
                    </g>
                </>
            )
        }
    </svg>
</div>

<style>
    :global(.svgRepo:hover) .hovered-rect {
        fill: var(--globalColor);
    }
    :global(.svgRepo:hover) .hovered {
        display: block;
    }
    :global(.svgRepo:hover) .not-hovered {
        display: none;
    }
    .hovered {
        display: none;
    }
    .not-hovered {
        display: block;
    }
    svg {
        display: block;
    }

    .svg-github svg {
        width: 400px;
        height: 120px;
    }
    @media only screen and (max-width: 600px) {
        .svg-github svg {
            width: 100%;
            height: 100%;
        }
    }
</style>
