---
import links from "../../../Its-Just-Nans/data/links/links.json";
import LinksIco from "./LinksIco.astro";
---

<article>
    <div class="part">
        <h2 title="happy stalking :)">Links</h2>
        <div class="overflowTable">
            <table>
                <tbody>
                    {
                        links.map((oneLink) => (
                            <tr>
                                <td>
                                    <a href={oneLink.link} target="_blank" title={oneLink.name}>
                                        <LinksIco filename={oneLink.ico} size={32} />
                                    </a>
                                </td>
                                <td class="wordBreak hoverBlue">
                                    <a href={oneLink.link} target="_blank" title={oneLink.link}>
                                        {oneLink.link}
                                    </a>
                                </td>
                                <td class="copyFn" data-link={oneLink.link}>
                                    <span title="Click to copy">
                                        <svg
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            focusable="false"
                                            class="copyIcon"
                                        >
                                            <g>
                                                <path d="M10 19h8V8h-8v11zM8 7.992C8 6.892 8.902 6 10.009 6h7.982C19.101 6 20 6.893 20 7.992v11.016c0 1.1-.902 1.992-2.009 1.992H10.01A2.001 2.001 0 0 1 8 19.008V7.992z" />
                                                <path d="M5 16V4.992C5 3.892 5.902 3 7.009 3H15v13H5zm2 0h8V5H7v11z" />
                                            </g>
                                        </svg>
                                    </span>
                                </td>
                            </tr>
                        ))
                    }
                </tbody>
            </table>
        </div>
        <script is:inline>
            [...document.getElementsByClassName("copyFn")].forEach((e) => {
                e.onclick = () => {
                    const link = e.getAttribute("data-link");
                    if (link) {
                        navigator.clipboard.writeText(link);
                    }
                };
            });
        </script>
    </div>
</article>

<style>
    table {
        border: 1px solid grey;
        color: black;
        border-collapse: collapse;
        margin: auto;
        text-align: center;
    }
    td {
        padding: 5px 10px;
    }
    tr {
        border: 1px solid grey;
    }
    tbody > tr {
        cursor: pointer;
    }
    .overflowTable {
        overflow-y: auto;
    }
    .hoverBlue:hover {
        color: blue;
    }
    .wordBreak {
        word-break: break-word;
    }
    .copyIcon {
        fill: black;
    }
    .copyIcon:hover {
        fill: #228b22;
    }
    .iconSmall {
        height: 32px;
        width: 32px;
        vertical-align: middle;
    }
</style>
