---
import { packages } from "../../data/packages";
const user = "Its-Just-Nans";
---

<div class="packages">
    <h1>Packages</h1>
    {
        packages.map((el) => (
            <>
                <h2>
                    <span>{el.name}</span>
                    {el.profile && (
                        <>
                            <span> - </span>
                            <a target="_blank" class="opennable" href={el.profile}>
                                {el.profile}
                            </a>
                        </>
                    )}
                </h2>
                <table>
                    <tbody>
                        {el.list.map((onePackage) => (
                            <tr>
                                <td class="border-right">
                                    <a
                                        target="_blank"
                                        class="opennable"
                                        href={`${el.url}${onePackage}`}
                                    >{`${el.url}${onePackage}`}</a>
                                </td>
                                {el.stats && (
                                    <td class="border-right">
                                        <a target="_blank" class="opennable" href={`${el.stats}${onePackage}`}>
                                            {`${el.stats}${onePackage}`}
                                        </a>
                                    </td>
                                )}
                                {el.shields && (
                                    <>
                                        {el.shields.map((oneShieldUrl) => (
                                            <td class="border-right">
                                                <img
                                                    src={`${oneShieldUrl
                                                        .replace(":user", user)
                                                        .replace(":package", onePackage)}`}
                                                />
                                                <span>&nbsp;</span>
                                            </td>
                                        ))}
                                    </>
                                )}
                            </tr>
                        ))}
                    </tbody>
                </table>
            </>
        ))
    }
</div>

<style>
    .border-right {
        border-right: 1px solid black;
    }
    table {
        border-collapse: collapse;
        margin: 0px;
        text-align: left;
    }
    img {
        vertical-align: middle;
    }
    .packages {
        margin: 5px;
        font-family: monospace;
    }
    a {
        color: blue;
    }
    .hidden {
        display: none;
    }
</style>
