---
import { packages } from "../../data/packages";
---

<div class="packages">
    <h1>Packages</h1>
    {
        packages.map((el) => (
            <>
                <h2>
                    <span>{el.name}</span>
                    {el.profile && (
                        <>
                            <span> - </span>
                            <a target="_blank" class="opennable" href={el.profile}>
                                {el.profile}
                            </a>
                        </>
                    )}
                </h2>
                {el.list.map((onePackage) => (
                    <p>
                        <a
                            target="_blank"
                            class="opennable"
                            href={`${el.url}${onePackage}`}
                        >{`${el.url}${onePackage}`}</a>

                        {el.stats && (
                            <>
                                <span> - </span>
                                <a target="_blank" class="opennable" href={`${el.stats}${onePackage}`}>
                                    {`${el.stats}${onePackage}`}
                                </a>
                            </>
                        )}
                        {el.shields && (
                            <>
                                <span> - </span>
                                {el.shields.map((oneShieldUrl) => (
                                    <>
                                        <img src={`${oneShieldUrl}${onePackage}`} />
                                        <span>&nbsp;</span>
                                    </>
                                ))}
                            </>
                        )}
                    </p>
                ))}
            </>
        ))
    }
</div>

<style>
    img {
        vertical-align: middle;
    }
    .packages {
        margin: 5px;
        font-family: monospace;
    }
    a {
        color: blue;
    }
    .hidden {
        display: none;
    }
</style>
