---
import "../styles/markdown.css";
import { slugify } from "./utils";

const { item, index } = Astro.props;
const { Content, frontmatter, ico = "", file } = item;
const {
    date1 = "",
    date2 = "",
    date_start = "",
    date_end = "",
    title = null,
    isWork = false,
    isSchool = false,
    isProject = false,
} = frontmatter;
const dateStart = date1 || date_start;
const dateEnd = date2 || date_end;
if (!isWork && !isSchool && !isProject) {
    // console.error("isWork, isSchool, isProject is false", title);
}

const slug = slugify(file);
---

<div class="historyLine" class:list={[{ work: isWork }, { school: isSchool }, { projects: isProject }]}>
    <input type="checkbox" id={`id_${index}`} class="toggler" />
    <style
        set:html={`#id_${index}:checked ~ label .firstDiv {border-bottom: 1px solid var(--border-color);}#id_${index}:checked ~ .secondDiv {display: block;height: auto;}`}
    ></style>
    <label for={`id_${index}`}>
        <div class="firstDiv">
            <p>
                {dateEnd && <span class="date-end">{dateEnd.split("T")[0] || ""}</span>}
                {dateEnd && <br />}
                <span class:list={[{ "date-start": dateEnd }, { specialLineHeight: !dateEnd }]}>
                    {dateStart.split("T")[0] || "?"}
                </span>
            </p>
            <div class="titleContainer">
                <a href={`/history/${slug}`} class="link">
                    {ico ? <img class="iconSmall" src={ico} alt={title} /> : <div class="iconSmall" />}
                </a>
                <p class="title">{title || ""}</p>
            </div>
            <div class="minusIco iconShowMore">
                <svg focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M19 13H5v-2h14v2z"></path>
                </svg>
            </div>
            <div class="plusIco iconShowMore">
                <svg focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path>
                </svg>
            </div>
        </div>
    </label>
    <div class="secondDiv">
        <div class="historyDetail markdown-body">
            {Content && <Content />}
        </div>
    </div>
</div>

<style>
    .date-start {
        color: rgb(84, 84, 84);
    }
    .link {
        display: contents;
    }
    :global(#work:checked) ~ .historyLine {
        display: none;
    }
    :global(#work:checked) ~ .work {
        display: block;
    }
    :global(#school:checked) ~ .historyLine {
        display: none;
    }
    :global(#school:checked) ~ .school {
        display: block;
    }
    :global(#projects:checked) ~ .historyLine {
        display: none;
    }
    :global(#projects:checked) ~ .projects {
        display: block;
    }
    .toggler {
        display: none;
    }
    span {
        line-height: 16px;
    }
    .specialLineHeight {
        line-height: 32px;
    }
    .historyLine {
        white-space: normal;
        font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
        border: 1px solid var(--border-color);
        margin-bottom: 20px;
        border-radius: 5px 5px 5px 5px;
        transition: box-shadow 0.1s;
        /*min-width: 260px;*/
    }
    .firstDiv > p {
        border-right: 1px solid var(--border-color);
        flex: 16;
        text-align: center;
        vertical-align: middle;
        line-height: initial;
    }
    .titleContainer {
        /* border-right: 1px solid var(--border-color); */
        flex: 65;
        display: inline-flex;
        overflow: auto;
        padding: 0px 5px;
    }
    .titleContainer .iconSmall {
        margin: auto;
    }
    .historyLine p {
        padding: 10px 0px 10px 0px;
        margin: 0px;
    }
    .titleContainer::-webkit-scrollbar {
        width: 10px;
        height: 5px;
    }
    .titleContainer::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    .titleContainer::-webkit-scrollbar-thumb {
        background: #888;
    }
    .titleContainer::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    .titleContainer img {
        height: 32px;
        width: 32px;
        vertical-align: middle;
    }
    .title {
        flex: 0.95;
        text-align: left;
        vertical-align: middle;
    }
    .plusOrMinus {
        margin: auto;
        flex: 5;
        height: var(--heightSVG);
        text-align: center;
    }
    .plusOrMinus > svg {
        height: var(--heightSVG);
    }
    * {
        --heightSVG: 40px;
        --long: 50%;
    }

    .historyDetail code {
        background-color: var(--globalColor);
        padding: 2px 3px;
        border-radius: 2px;
    }

    .historyDetail a {
        font-weight: bold;
        color: blue;
    }
    .historyDetail img {
        display: block;
        margin: auto;
    }

    .historyDetail {
        width: 100%;
        box-sizing: border-box;
    }

    .historyDetail::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    .historyDetail::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    .historyDetail::-webkit-scrollbar-thumb {
        background: #888;
    }
    .historyDetail::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    @media screen and (max-width: 512px) {
        .historyDetail img {
            width: 100%;
        }
    }

    .historyLine .secondDiv > div {
        padding: 25px;
    }
    @media screen and (max-width: 512px) {
        * {
            font-size: 0.95em;
            --long: 33%;
            --heightSVG: 30px;
            --icoWidthHeight: 25px;
        }
        .firstDiv > p {
            display: none;
            font-size: 10px;
        }
        :global(.historyOpen) .firstDiv > p {
            display: block;
        }
        .plusOrMinus {
            margin: auto;
            flex: 5;
            height: var(--heightSVG);
            text-align: center;
        }
        .plusOrMinus > svg {
            height: var(--heightSVG);
        }
        .titleContainer img {
            height: var(--icoWidthHeight);
            width: var(--icoWidthHeight);
        }
        .historyLine p {
            padding: 5px 0px 5px 0px;
        }
        .historyLine .secondDiv > div {
            padding: 10px;
        }
    }
    .toRight {
        margin-left: var(--long);
    }
    .toLeft {
        margin-right: var(--long);
    }
    .secondDiv {
        flex: 5;
    }
    .iconShowMore {
        float: right;
    }
    .historyLine:hover {
        box-shadow: 0px 0px 0px 5px blue;
        border: 1px dashed var(--border-color);
    }

    :global(#toggle:checked) ~ .historyLine:hover {
        box-shadow: none;
        border: 1px solid var(--border-color); /* default border */
    }

    * {
        --border-color: black;
    }

    .iconSmall {
        height: 32px;
        width: 32px;
        vertical-align: middle;
    }
    .historyLine .iconSmall {
        margin: auto;
    }
    .historyLine .firstDiv {
        display: flex;
        cursor: pointer;
        line-height: 32px;
    }
    .historyLine .secondDiv {
        background-color: whitesmoke;
        border-radius: 5px;
        text-align: initial;
        height: 0px;
        display: none;
    }
    :global(#toggle:checked) ~ .historyLine .firstDiv {
        border-bottom: 1px solid var(--border-color);
    }
    :global(#toggle:checked) ~ .historyLine .secondDiv {
        display: block;
        height: auto;
    }
    :global(.historyOpen) .historyLine .secondDiv {
        display: block;
        height: auto;
    }

    :global(.historyOpen) .historyLine .firstDiv {
        border-bottom: 1px solid var(--border-color);
    }
</style>
