---
import "../styles/markdown.css";
import Time from "./Time.astro";

const { data, type = "article" } = Astro.props;
const { title, date, draft, hidden, description, ico = "" } = data;
const realDate = date ? new Date(date) : new Date();
---

<article>
    <div class:list={["headArticle", { animated: hidden }]}>
        {type === "history" && ico && <img class="iconSmall" src={ico} alt={title} />}
        <h2 class="rainbow_text_animated">
            {type === "history" && <span>History detail: </span>}
            {title}
            {hidden && <span class="hidden-span">(hidden)</span>}
            {draft && <span class="draft-span">(draft)</span>}
        </h2>
        <Time date={realDate} className="rainbow_text_animated" />
    </div>
    <div class="headArticleDesc">{description}</div>
    <div class="hr"></div>
    <div class="markdown-body">
        <slot />
    </div>
</article>

<style>
    .headArticleDesc {
        text-align: center;
        --padding1: 10px;
        --padding2: 10px;
        display: block;
        padding: 0px var(--padding2) var(--padding1) var(--padding2);
    }
    .animated {
        animation: rainbow_animation 6s ease-in-out infinite;
        background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        background-size: 400% 100%;
    }
    .draft-span {
        color: red;
        font-size: 20px;
    }
    .headArticle:hover .rainbow_text_animated {
        animation: rainbow_animation 6s ease-in-out infinite;
        background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        background-size: 400% 100%;
    }
    .iconSmall {
        height: 32px;
        width: 32px;
        vertical-align: middle;
    }

    @keyframes rainbow_animation {
        0%,
        100% {
            background-position: 0 0;
        }

        50% {
            background-position: 100% 0;
        }
    }
    .hr {
        --border: 2px;
        border: var(--border) solid var(--globalColor);
        border-radius: 20px;
        margin-bottom: 20px;
    }
    .headArticle {
        --padding1: 10px;
        --padding2: 20px;
        display: block;
        padding: var(--padding1) var(--padding2) 0px var(--padding2);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    @media only screen and (max-width: 600px) {
        .headArticle {
            --padding2: 0px;
        }
    }
</style>
