---
import imgN4N5 from "../imgs/n4n5.png";
import nav from "../scripts/pages.js";
import { pseudo } from "../scripts/pages.js";
import { Image } from "astro:assets";

const url = Astro.url;
---

<header>
    <div class="title" transition:persist>
        <div class="titleContainer">
            <a href="/">
                <h1 class="frontTitle cursorPointer">{pseudo}</h1>
            </a>
        </div>
        <div class="imgContainer" data-tooltip={pseudo}>
            <a href="/about/">
                <Image src={imgN4N5} alt={`logo-${pseudo}`} class="cursorPointer" height={100} />
            </a>
        </div>
    </div>
    <div class="headerMenuSpacing"></div>
    <div class="navLinks">
        <span class="smallMenu">
            <label for="checkboxMenu" class="smallMenuTitle">Menu</label>
            <input type="checkbox" id="checkboxMenu" />
            <div class="underSmallMenu">
                {
                    nav.map(({ route, name, customLinkFn }) => {
                        const link = customLinkFn ? customLinkFn(url, route) : route;
                        return (
                            <h2 class="menuLinks">
                                <a href={link}>{name}</a>
                            </h2>
                        );
                    })
                }
            </div>
        </span>
    </div>
</header>

<style>
    .menuLinks:hover {
        text-decoration: underline;
    }
    .menuLinks {
        font-size: 1.2em;
        font-weight: 200;
        cursor: pointer;
        display: inline-block;
    }
    .cursorPointer {
        cursor: pointer;
        width: auto;
    }
    header {
        position: fixed;
        top: 0px;
        display: flex;
        margin: auto;
        width: 100vw;
        height: var(--header);
        z-index: 10;
        background-color: GAINSBORO;
        background-color: var(--globalColor);
        text-align: center;
        border-bottom: 1px solid black;
        font-family: system-ui;
        box-sizing: border-box;
    }
    .title {
        padding: 10px;
        flex: 0.35;
        border-right: 1px solid black;
        display: flex;
        min-width: 1px; /* wtf firefox */
    }
    .titleContainer h1 {
        flex: 0.75;
        font-weight: 300;
        margin: 0px;
        margin-top: 5px;
    }
    .titleContainer {
        text-align: right;
        flex: 0.8;
    }
    .imgContainer {
        flex: 0.2;
        height: 100%;
        min-width: 0;
    }
    .imgContainer img {
        height: 100%;
    }

    :global(*) {
        font-family: monospace;
        --header: 60px;
    }
    .headerMenuSpacing {
        flex: 0.25;
    }

    #checkboxMenu {
        display: none;
    }
    .navLinks {
        display: flex;
        flex: 0.4;
        overflow-x: auto;
        padding: 10px 0px;
        border-left: 1px solid black;
    }
    .navLinks::-webkit-scrollbar {
        height: 10px;
    }
    .navLinks::-webkit-scrollbar-thumb {
        background: #888;
    }
    .navLinks::-webkit-scrollbar-thumb {
        background: #888;
    }
    label {
        font-size: 1.2em;
        font-weight: 200;
        cursor: pointer;
    }

    .navLinks .menuLinks {
        margin-right: 10px;
    }
    .smallMenuTitle {
        display: none;
    }
    .smallMenu {
        flex: 1;
    }
    .underSmallMenu {
        display: flex;
    }
    .navLinks .menuLinks:first-child {
        margin-right: 10px;
        margin-left: 10px;
    }
    @media screen and (max-width: 1024px) {
        .navLinks .menuLinks {
            margin-right: 10px;
            margin-left: 10px;
        }
        .headerMenuSpacing {
            display: none;
        }
        .navLinks {
            flex: 0.3;
        }
        .underSmallMenu {
            display: none;
        }
        .smallMenuTitle {
            display: block;
            margin: 0px;
            padding-top: 10px;
            height: 100%;
        }
        .smallMenuTitle:hover {
            text-decoration: underline;
            text-decoration-style: dotted;
        }
        .menuLinks {
            display: block;
        }
        .title {
            border-right: none;
        }
        .title {
            flex: 0.7;
        }

        .frontTitle {
            font-size: 1.5em;
        }
        .imgContainer > img {
            height: 50%;
            margin-top: 10px;
        }
        #checkboxMenu:checked ~ .underSmallMenu {
            display: block;
            position: fixed;
            top: calc(var(--header) - 1px);
            background-color: var(--globalColor);
            border-bottom: 1px solid black;
            border-left: 1px solid black;
            width: calc(30% - 6px);
            right: 0px;
        }
    }
</style>
