---
import type { PointsType } from "../scripts/types";
import "leaflet/dist/leaflet.css";
import img from "leaflet/dist/images/marker-icon.png?url";
import img2x from "leaflet/dist/images/marker-icon-2x.png?url";
import imgShadow from "leaflet/dist/images/marker-shadow.png?url";

interface Props {
    points: PointsType;
    height?: number;
    zoom?: number;
    view: [number, number];
    mapId?: string;
    customStyle?: string;
}

const franceView = [46.446, 2.903];

const { points, height, zoom = 4, view = franceView, mapId = "map", customStyle = "" } = Astro.props;
---

<div id={mapId} style={customStyle} class="map-points"></div>

<script>
    // @ts-nocheck
    import L from "leaflet";
    window.L = L;
    window.document.dispatchEvent(new Event("leaflet-loaded"));
</script>

<script is:inline define:vars={{ points, height, zoom, view, mapId, img, img2x, imgShadow }}>
    document.addEventListener("leaflet-loaded", () => {
        L.Icon.Default.prototype.options.iconUrl = img;
        L.Icon.Default.prototype.options.iconRetinaUrl = img2x;
        L.Icon.Default.prototype.options.shadowUrl = imgShadow;

        if (height) {
            document.getElementById(mapId).style.height = `${height}px`;
        }
        var map = L.map(mapId);
        L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        }).addTo(map);

        points.forEach((oneMarker) => {
            L.marker(oneMarker.coords).addTo(map).bindPopup(oneMarker.name);
        });

        map.setView(view, zoom);

        map.addEventListener("contextmenu", function (event) {
            navigator.clipboard.writeText(
                JSON.stringify(
                    {
                        type: "place",
                        coords: event.latlng,
                        name: "",
                    },
                    null,
                    2
                )
            );

            return false;
        });
    });
</script>
