---
import output from "@data/projects/projects.json";
import packages from "@data/packages.json";
import SvgBadge from "@components/SvgBadge/SvgBadge.astro";
import type { SingleProject, SinglePackage } from "../scripts/types";
import { repoFilter, schoolChecker } from "@scripts/pages";

const allProjects = output as Array<SingleProject>;
const allPackages = packages as unknown as Array<SinglePackage>;

const allPackagesName = allPackages
    .map((onePlateform) =>
        onePlateform.list.map((onePackage) => {
            const packageLink = onePlateform.repos?.[onePackage];
            return packageLink?.split("/").pop() ?? onePackage;
        })
    )
    .flat();

type Selectors = Record<string, string>;
const DEFAULT_COLOR = "#000000";
const packageTag = "Packages";
const defaultSelector = "All";

const filterProjects = ({ name, description }: SingleProject) => {
    if (!description) {
        console.log(`Project '${name}' doesn't have description !!`);
        return false;
    }
    const startWithFilter = description.startsWith(repoFilter);
    if (startWithFilter) {
        console.log(`Project is starting with ${repoFilter}: '${name}'`);
    }
    return !startWithFilter;
};

const typedOutput = allProjects.filter(filterProjects).map((proj: SingleProject) => {
    const desc = proj.description ?? "";
    const isRepo = proj.url.startsWith("https://github.com");
    const isPackage = allPackagesName.includes(proj.name);
    const isBookmarked = desc.startsWith("ðŸ“");
    const isIrl = desc.startsWith("ðŸ› ï¸");
    const isSchool = schoolChecker.some((oneCheck) => desc.startsWith(oneCheck));
    const isPoc = desc.startsWith("PoC");
    const isGist = !isRepo;
    const isUntagged = ![isPackage, isSchool, isPoc, isGist, isIrl].some((x) => x);
    return {
        ...proj,
        description: desc,
        isPackage,
        isBookmarked,
        isIrl,
        isSchool,
        isPoc,
        isRepo,
        isGist,
        isUntagged,
    };
});

const cleanLang = (l: string) => {
    return l.replaceAll(" ", "-").replaceAll("+", "p").replaceAll(".", "");
};

const langs = typedOutput.reduce((acc, { primaryLanguage }) => {
    const { name: lang, color: lang_color } = primaryLanguage ? primaryLanguage : { name: "", color: "" };
    if (!lang) return acc;
    return { ...acc, [cleanLang(lang)]: lang_color ?? DEFAULT_COLOR };
}, {} as Selectors);

const projectTypes = ["others-langs", "PoC", packageTag, "School", "IRL"];
if (typedOutput.some(({ isUntagged }) => isUntagged)) {
    projectTypes.push("untagged");
}

const orderedLangs = Object.keys(langs)
    .sort()
    .reduce((obj, key) => {
        obj[key] = langs[key];
        return obj;
    }, {} as Selectors);

const selectors: Selectors = {
    [defaultSelector]: "black",
    ...orderedLangs,
    ...projectTypes.reduce((acc, curr) => ({ ...acc, [curr]: DEFAULT_COLOR }), {}),
};

const rawStylesCSS = Object.entries(selectors)
    .map(([selectorName, color]) => {
        const l = cleanLang(selectorName.toLocaleLowerCase());
        return `
        #selector-${l}:checked ~ .selector-${l} {
            display: inline-block;
        }
        #selector-${l}:checked ~ details label.selector-${l} {
            border: 2px solid ${color};
            margin: 3px;
        }`;
    })
    .join("\n");
---

<div>
    {
        Object.entries(selectors).map(([selectorName, _color]) => {
            const checked = selectorName == defaultSelector;
            const l = selectorName.toLocaleLowerCase();
            return (
                <input
                    class="filters"
                    id={`selector-${l}`}
                    name="selector-selector"
                    type="radio"
                    value={l}
                    checked={checked}
                />
            );
        })
    }
    <style set:html={rawStylesCSS}></style>
    <details>
        <summary title={`Filters on (${typedOutput.length}) projects`}>Filters</summary>
        <div class="details-wrap">
            {
                Object.entries(selectors).map(([selectorName, color]) => {
                    const selectName = cleanLang(selectorName.toLocaleLowerCase());
                    return (
                        <label
                            class:list={["selector-select", `selector-${selectName}`]}
                            style={`color: ${color}`}
                            for={`selector-${selectName}`}
                        >
                            {selectorName}
                        </label>
                    );
                })
            }
        </div>
    </details>
    {
        typedOutput.map((oneData) => {
            const { isPackage, isSchool, isPoc, isUntagged, isBookmarked, isIrl, isRepo, name, primaryLanguage } =
                oneData;
            const langName = (primaryLanguage?.name ?? "").toLocaleLowerCase();
            if (import.meta.env.DEV) {
                if (isRepo && isUntagged) {
                    console.log(`'${name}' is not tagged`);
                }
            }
            return (
                <div
                    class:list={[
                        "projectWrap",
                        {
                            [`selector-${cleanLang(langName)}`]: langName !== "",
                            ["selector-poc"]: isPoc,
                            ["selector-all"]: true,
                            ["selector-school"]: isSchool,
                            [`selector-${packageTag.toLocaleLowerCase()}`]: isPackage,
                            ["selector-bookmark"]: isBookmarked,
                            ["selector-irl"]: isIrl,
                            ["selector-untagged"]: isUntagged,
                            "selector-others-langs": !primaryLanguage,
                        },
                    ]}
                >
                    <div class="svgRepo">
                        <SvgBadge
                            svgData={oneData}
                            isPackage={isPackage}
                            isPoc={isPoc}
                            isSchool={isSchool}
                            isRepo={isRepo}
                            isBookmark={isBookmarked}
                        />
                    </div>
                </div>
            );
        })
    }
</div>

<style>
    details {
        cursor: pointer;
    }
    .details-wrap {
        width: 80%;
        display: inline-block;
    }
    .selector-select {
        margin: 5px;
        cursor: pointer;
        font-weight: bold;
        padding: 2px;
        border-radius: 5px;
        display: inline-block;
    }
    .filters {
        display: none;
    }

    .projectHelp rect {
        fill: var(--globalColor);
    }
    .projectHelp > svg {
        display: block;
    }
    article {
        padding-left: 10vw !important;
        padding-right: 10vw !important;
    }
    .projectsDiv > svg {
        display: block;
        height: 100% !important;
        width: 100%;
    }
    .projectHelp a:hover text {
        color: blue;
    }
    .svgRepoHovered {
        display: none;
    }
    .projectWrap {
        display: none;
        margin: 10px 10px 0px 10px;
        text-align: center;
        vertical-align: bottom;
        border-radius: 5px;
        transition: box-shadow 0.25s;
    }
    @media only screen and (max-width: 600px) {
        .projectsDiv {
            width: calc(100% - 20px);
        }
    }

    .clicked > div {
        box-shadow: 0px 0px 0px 5px var(--globalColor);
    }

    .projectWrap:hover {
        box-shadow: 0px 0px 0px 5px var(--globalColor);
    }
    .cursorPointer {
        cursor: pointer;
    }
</style>
