---
import SimpleArticle from "@components/SimpleArticle.astro";
import SimpleArticleLine from "@components/SimpleArticleLine.astro";
import { getOthersArticles } from "@components/utils";

interface Props {
    tag?: string;
    excludeTags?: Array<string>;
    title: string;
    startSlug: string;
}

const { tag = null, excludeTags = [], title, startSlug } = Astro.props;

const { articles } = getOthersArticles();
const data = tag === null ? articles : articles.filter(({ frontmatter: { tags =  [] } }) => tags.includes(tag));
const dataExcluded =
    excludeTags.length === 0
        ? data
        : data.filter(({ frontmatter: { tags = [] } }) => !tags.some((oneTag) => excludeTags.includes(oneTag)));
const keywords = tag === null ? [] : [tag];
---

<SimpleArticle title={title} description={title} keywords={keywords}>
    <h1>{title}</h1>
    <ul>
        {dataExcluded.map((p) => <SimpleArticleLine post={p} startSlug={startSlug} />)}
    </ul>
</SimpleArticle>

<style is:global>
    @media screen and (max-width: 800px) {
        ul {
            padding-inline-start: 15px;
        }
    }
    .article-body ul li {
        display: flex;
    }
</style>
