---
import { globalColor } from "@scripts/utils";
import "../styles/style.css";
import "../styles/tooltip.css";
import Header from "./Header.astro";

interface Props {
    title: string;
    description?: string;
    lang?: string;
    keywords: Array<string>;
    defaultKeywords?: Array<string>;
}

const { title, description, lang = "en", keywords, defaultKeywords } = Astro.props;
---

<html lang={lang}>
    <head>
        <Header title={title} description={description} keywords={keywords} defaultKeywords={defaultKeywords} />
        <slot name="head-slot" />
    </head>

    <body style={`--globalColor: ${globalColor}`}>
        <slot name="body-slot" />
        <slot />
    </body>
</html>
